################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/BudgetCalculator/.vs/BudgetCalculator/v16
